# dependencies
node_modules/

# builds
dist/
.next/
out/
.output/

# generated
.wxt/
next-env.d.ts

# turbo
.turbo/

# env
.env
.env.local
.env.*.local


# logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.tsbuildinfo
coverage/
